<fieldset>
	<legend>List Question</legend>
	<div class="row-fluid">

		<?php echo $this->form;?>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Question ID</th>
					<th>Question</th>
					<th>Exam</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

		<?php echo $this->partial('partials/table-empty.phtml', array('data'=>$this->data,'colspan'=>4)); ?>

		<?php foreach($this->data as $row): ?>
			<tr>
				<td><?php echo $row->question_id;?></td>
				<td><?php echo $row->question;?></td>
				<td><?php echo $row->exam_name.' @ '.$this->Date($row->start_at);?></td>
				<td>
					<a href="/question/edit/id/<?php echo $row->question_id;?>">Edit</a>
					|
					<a href="/question/delete/id/<?php echo $row->question_id;?>">Delete</a>
				</td>
			</tr>
		<?php endforeach;?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4" class="text-right"><span>Total Questions: <?php echo $this->data->getTotalItemCount(); ?></span></th>
				</tr>
			</tfoot>
		</table>

		<?php echo $this->data; ?>
	</div>
</fieldset>