<fieldset>
	<legend>List Student</legend>
	<div class="row-fluid">

		<?php echo $this->form;?>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Roll No</th>
					<th>Name</th>
					<th>Parent/Guardian</th>
					<th>Course</th>
					<th>Lastest Activity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

		<?php echo $this->partial('partials/table-empty.phtml', array('data'=>$this->data,'colspan'=>6)); ?>

		<?php foreach($this->data as $row): ?>
			<tr>
				<td><?php echo $row->roll_no;?></td>
				<td><?php echo $row->student_name;?></td>
				<td><?php echo $row->parent_name;?></td>
				<td><?php echo $this->Course($row->course_id);?></td>
				<td><?php echo $this->Date($row->loggedin_at);?></td>
				<td>
					<a href="/student/edit/id/<?php echo $row->student_id;?>">Edit</a>
					|
					<a href="/student/reset-password/id/<?php echo $row->student_id;?>">Reset Password</a>
					|
					<a href="/student/delete/id/<?php echo $row->student_id;?>">Delete</a>
				</td>
			</tr>
		<?php endforeach;?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="6" class="text-right"><span>Total Records: <?php echo $this->data->getTotalItemCount(); ?></span></th>
				</tr>
			</tfoot>
		</table>

		<?php echo $this->data; ?>
	</div>
</fieldset>