<fieldset>
	<legend>Home</legend>
	<div class="row-fluid">
		<h3>Setup Instructions</h3>
		<ul class="instructions">
			<li><i class="icon icon-ok"></i> Step 1: Add course <a href="/course/add" class="btn-small btn-primary">Click Here</a></li>
			<li><i class="icon icon-ok"></i> Step 2: Add faculty <a href="/faculty/add" class="btn-small btn-primary">Click Here</a></li>
			<li><i class="icon icon-ok"></i> Step 3: Add exam <a href="/exam/add" class="btn-small btn-primary">Click Here</a></li>
			<li><i class="icon icon-ok"></i> Step 4: Add question <a href="/question/add" class="btn-small btn-primary">Click Here</a></li>
			<li><i class="icon icon-ok"></i> Step 5: Add student <a href="/student/add" class="btn-small btn-primary">Click Here</a></li>
		</ul>
	</div>
</fieldset>