<fieldset>
	<legend>List Courses</legend>
	<div class="row-fluid">

		<?php echo $this->form;?>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Course ID</th>
					<th>Name</th>
					<th>Short Name</th>
					<th>Duration</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

		<?php echo $this->partial('partials/table-empty.phtml', array('data'=>$this->data,'colspan'=>5)); ?>

		<?php foreach($this->data as $row): ?>
			<tr>
				<td><?php echo $row->course_id;?></td>
				<td><?php echo $row->course_name;?></td>
				<td><?php echo $row->course_shortname;?></td>
				<td><?php echo $row->course_duration . ' Semester'; echo ($row->course_duration>1)?'s':'';?></td>
				<td>
					<a href="/course/edit/id/<?php echo $row->course_id;?>">Edit</a>
					|
					<a onclick="return confirm('Are you sure you want to delete? This will delete all exams, questions and students under this course.');" href="/course/delete/id/<?php echo $row->course_id;?>">Delete</a>
				</td>
			</tr>
		<?php endforeach;?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="5" class="text-right"><span>Total Records: <?php echo $this->data->getTotalItemCount(); ?></span></th>
				</tr>
			</tfoot>
		</table>

		<?php echo $this->data; ?>
	</div>
</fieldset>