<fieldset>
	<legend>List Faculty</legend>
	<div class="row-fluid">

		<?php echo $this->form;?>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Faculty ID</th>
					<th>Name</th>
					<th>Username</th>
					<th>Designation</th>
					<th>Lastest Activity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

		<?php echo $this->partial('partials/table-empty.phtml', array('data'=>$this->data,'colspan'=>6)); ?>

		<?php foreach($this->data as $row): ?>
			<tr>
				<td><?php echo $row->faculty_id;?></td>
				<td><?php echo $row->faculty_name;?></td>
				<td><?php echo $row->username;?></td>
				<td><?php echo $row->faculty_designation;?></td>
				<td><?php echo $this->Date($row->loggedin_at);?></td>
				<td>
					<a href="/faculty/edit/id/<?php echo $row->faculty_id;?>">Edit</a>
					|
					<a href="/faculty/reset-password/id/<?php echo $row->faculty_id;?>">Reset Password</a>
					|
					<a href="/faculty/delete/id/<?php echo $row->faculty_id;?>">Delete</a>
				</td>
			</tr>
		<?php endforeach;?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="6" class="text-right"><span>Total Records: <?php echo $this->data->getTotalItemCount(); ?></span></th>
				</tr>
			</tfoot>
		</table>

		<?php echo $this->data; ?>
	</div>
</fieldset>