<fieldset>
	<legend class="print-remove">Results</legend>
	<div class="row-fluid">
		<?php if($this->exam):?>

		<div class="breadcrumb print-remove">
			<a href="/result/">Courses</a> / <a href="/result/index/course/<?php echo $this->exam->course_id;?>/"><?php echo $this->Course($this->exam->course_id);?></a> / <a href="/result/index/course/<?php echo $this->exam->course_id;?>/exam/<?php echo $this->exam->exam_id;?>"><?php echo $this->exam->exam_name;?></a>
		</div>

		<h5 id="result_title"><b><?php echo $this->exam->exam_name;?> [<?php echo $this->Course($this->exam->course_id);?>] - <?php echo $this->Date($this->exam->start_at,'d F, Y h:i A');?></b></h5>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Roll No</th>
					<th>Student</th>
					<th>Questions</th>
					<th>Attempt</th>
					<th>Correct</th>
					<th>Wrong</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<?php
				$loop = 0;
				foreach($this->students as $s):
					$total_questions_answered = 0;
					$total_correct = 0;
					$total_wrong = 0;
					$correct_mark = $this->Setting('correct_mark');
					$incorrect_mark = $this->Setting('incorrect_mark');

					$examsession = $this->examsessionm->fetchRow(array(
						'student_id' => $s->student_id,
						'course_id' => $s->course_id,
						'exam_id' => $this->exam->exam_id
						));
					$questions = unserialize($examsession->questions);
					foreach($questions as $no=>$q)
					{
						$question = $this->questionm->get($q['q']);
						if($q['a'] == 'opt1' || $q['a'] == 'opt2' || $q['a'] == 'opt3' || $q['a'] == 'opt4')
							$total_questions_answered++;
						if($q['a'] != '')
						{
							if( $question->ans == $q['a'] )
								$total_correct++;
							elseif( $question->ans != $q['a'] )
								$total_wrong++;
						}
					}

					$loop++;
				?><tr>
					<td><?php echo $s->roll_no;?></td>
					<td><?php echo $s->student_name;?></td>
					<td><?php echo $this->exam->no_of_question;?></td>
					<td><?php echo $total_questions_answered;?></td>
					<td><?php echo $total_correct;?></td>
					<td><?php echo $total_wrong;?></td>
					<td><?php
						$total_mark = sizeof($questions) * $correct_mark;
						$mark_secured = (($total_correct * $correct_mark) - ($total_wrong * $incorrect_mark));
						$percent = ($mark_secured / $total_mark) * 100;
						echo $this->Grade($percent);
					?></td>
				</tr>
				<?php endforeach;?>
			</tbody>
		</table>

		<?php elseif($this->course):?>

		<div class="breadcrumb">
			<a href="/result/">Courses</a> / <a href="/result/index/course/<?php echo $this->course->course_id;?>"><?php echo $this->course->course_name;?></a>
		</div>

		<h5><b>Select Exam</b></h5>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Exam Name</th>
					<th>Date</th>
					<th>Questions</th>
					<th>Students</th>
					<th>Faculty</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->exams as $e):?>
				<tr>
					<td><?php echo $e->exam_id;?></td>
					<td><a href="/result/index/course/<?php echo $e->course_id;?>/exam/<?php echo $e->exam_id;?>"><?php echo $e->exam_name;?></a></td>
					<td><?php echo $this->Date($e->start_at, 'dS F, Y');?></td>
					<td><?php echo $e->no_of_question;?></td>
					<td><?php echo $e->no_of_student;?></td>
					<td><?php
					$faculty = $this->facultym->find($e->faculty_id)->current();
					echo $faculty->faculty_name;
					?></td>
				</tr>
				<?php endforeach;?>
			</tbody>
		</table>

		<?php else: ?>
		
		<h5><b>Select Course</b></h5>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Course Name</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->courses as $c):?>
				<tr>
					<td><?php echo $c->course_id;?></td>
					<td><a href="/result/index/course/<?php echo $c->course_id;?>"><?php echo $c->course_name;?></a></td>
				</tr>
				<?php endforeach;?>
			</tbody>
		</table>
		<?php endif;?>
	</div>
</fieldset>