<?php $this->LoadTemplate($this->zone, $this->template); ?><!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<?php echo $this->headTitle(); ?>
	
	<?php echo $this->headLink(); ?>
	
	<?php echo $this->headScript(); ?>
	
	<?php echo $this->headStyle(); ?>
</head>
<body class="<?php echo $this->actionName; ?> <?php echo $this->controllerName; ?> fl full">
	<div class="navbar navbar-inverse navbar-fixed-top print-remove">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<a class="brand" href="/"><i class="icon-globe"></i> Online Examination System </a>
				
				<div class="nav-collapse collapse">
					<?php if($this->authenticate):?>
					<p class="navbar-text pull-right">
						Logged in as <a href="#profile" class="navbar-link"><?php echo ucwords($this->user->username);?></a>
					</p>
					<?php endif;?>
					
					<ul class="nav">
						<?php if($this->authenticate):?>
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/change-password">Change Password</a></li>
						<li><a href="/auth/logout">Logout</a></li>
						<?php endif;?>
					</ul>
				</div>
			</div>
		</div>
    </div>	

	<div class="container-fluid">
		<div class="row-fluid">
			<?php if($this->authenticate):?>
			<div class="span2 print-remove">
				<ul class="nav nav-tabs nav-pills nav-stacked">
					<li class="nav-header">Question</li>
					<li<?php echo ($this->controllerName == 'question' && $this->actionName == 'add')?' class="active"':'';?>><a href="/question/add/"><i class="icon-plus"></i> Add Question</a></li>
					<li<?php echo ($this->controllerName == 'question' && $this->actionName == 'list')?' class="active"':'';?>><a href="/question/list/"><i class="icon-folder-close-alt"></i> List Question</a></li>

					<li class="nav-header">Student</li>
					<li<?php echo ($this->controllerName == 'student' && $this->actionName == 'add')?' class="active"':'';?>><a href="/student/add/"><img src="/templates/default/default/images/loader-velocity.gif" width="10px" height="" /> Add Student</a></li>
					<li<?php echo ($this->controllerName == 'student' && $this->actionName == 'list')?' class="active"':'';?>><a href="/student/list/"><i class="icon-folder-close-alt"></i> List Student</a></li>

					<li class="nav-header">Result</li>
					<li<?php echo ($this->controllerName == 'result' && $this->actionName == 'index')?' class="active"':'';?>><a href="/result/"><i class="icon-folder-close-alt"></i> View Results</a></li>

					<?php if($this->user->type == 'administrator'): ?>
					<li class="nav-header">Course</li>
					<li<?php echo ($this->controllerName == 'course' && $this->actionName == 'add')?' class="active"':'';?>><a href="/course/add/"><i class="icon-folder-close-alt"></i> Add Course</a></li>
					<li<?php echo ($this->controllerName == 'course' && $this->actionName == 'list')?' class="active"':'';?>><a href="/course/list/"><i class="icon-folder-close-alt"></i> List Course</a></li>

					<li class="nav-header">Faculty</li>
					<li<?php echo ($this->controllerName == 'faculty' && $this->actionName == 'add')?' class="active"':'';?>><a href="/faculty/add/"><i class="icon-folder-close-alt"></i> Add Faculty</a></li>
					<li<?php echo ($this->controllerName == 'faculty' && $this->actionName == 'list')?' class="active"':'';?>><a href="/faculty/list/"><i class="icon-folder-close-alt"></i> List Faculty</a></li>
					
					<li class="nav-header">Exam</li>
					<li<?php echo ($this->controllerName == 'exam' && $this->actionName == 'add')?' class="active"':'';?>><a href="/exam/add/"><i class="icon-folder-close-alt"></i> Add Exam</a></li>
					<li<?php echo ($this->controllerName == 'exam' && $this->actionName == 'list')?' class="active"':'';?>><a href="/exam/list/"><i class="icon-folder-close-alt"></i> List Exam</a></li>

					<li class="nav-header">Administrator</li>
					<li<?php echo ($this->controllerName == 'admin' && $this->actionName == 'add')?' class="active"':'';?>><a href="/admin/add/"><i class="icon-folder-close-alt"></i> Add Administrator</a></li>
					<li<?php echo ($this->controllerName == 'admin' && $this->actionName == 'list')?' class="active"':'';?>><a href="/admin/list/"><i class="icon-folder-close-alt"></i> List Administrator</a></li>					
					<li<?php echo ($this->controllerName == 'setting' && $this->actionName == 'index')?' class="active"':'';?>><a href="/setting/index/"><i class="icon-folder-close-alt"></i> Setting</a></li>
					<?php endif;?>
				</ul>
			</div>
			<?php endif;?>

			<?php if($this->authenticate):?>
			<div class="span10">
			<?php else: ?>
			<div class="span4"></div>
			<div class="span4">
			<?php endif;?>
				<?php echo $this->Alert();?>
				<?php echo $this->layout()->content; ?>
			</div>
			<?php if(!$this->authenticate):?>
			<div class="span4"></div>
			<?php endif;?>
		</div>
	</div>
</body>
</html>