<?php $this->LoadTemplate($this->zone, $this->template); ?><!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<?php echo $this->headTitle(); ?>
	
	<?php echo $this->headLink(); ?>
	
	<?php echo $this->headScript(); ?>
	
	<?php echo $this->headStyle(); ?>
</head>
<body class="<?php echo $this->actionName; ?> <?php echo $this->controllerName; ?> fl full">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<a class="brand" href="/"><i class="icon-globe"></i> Online Examination System </a>
				
				<div class="nav-collapse collapse">
					<?php if($this->authenticate):?>
					<p class="navbar-text pull-right">
						Logged in as <a href="#profile" class="navbar-link"><?php echo ucwords($this->user->username);?></a>
					</p>
					<?php endif;?>
					
					<ul class="nav">
						<?php if($this->authenticate):?>
						<li class="active"><a href="/">Home</a></li>
						<li><a href="#profile">Profile</a></li>
						<li><a href="/auth/logout">Logout</a></li>
						<?php endif;?>
					</ul>
				</div>
			</div>
		</div>
    </div>	

	<div class="container-fluid">
		<div class="row-fluid">
			<?php if($this->authenticate):?>
			<div class="span12">
			<?php else: ?>
			<div class="span4"></div>
			<div class="span4">
			<?php endif;?>
				<?php echo $this->Alert();?>
				<?php echo $this->layout()->content; ?>
			</div>
			<?php if(!$this->authenticate):?>
			<div class="span4"></div>
			<?php endif;?>
		</div>
	</div>
</body>
</html>