<?php $this->LoadTemplate($this->zone, $this->template); ?><!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<?php echo $this->headTitle(); ?>
	
	<?php echo $this->headLink(); ?>
	
	<?php echo $this->headScript(); ?>
	
	<?php echo $this->headStyle(); ?>
</head>
<body class="<?php echo $this->actionName; ?> <?php echo $this->controllerName; ?> fl full">
	<div class="navbar navbar-inverse navbar-fixed-top print-remove">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<a class="brand" href="/"><i class="icon-globe"></i> Online Examination System </a>
				
				<div class="nav-collapse collapse">
					<?php if($this->authenticate):?>
					<p class="navbar-text pull-right"><i class="icon-time"></i> <span id="clock"><?php echo date('h:i:s A'); ?></span></p>
					<?php endif;?>

					<ul class="nav">
						<?php if($this->authenticate):?>
						<li><a href="/"><i class="icon-home"></i> Home</a></li>
						<li><a href="/result/"><i class="icon-bar-chart"></i> Result</a></li>
						<li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
						<?php endif;?>
					</ul>
				</div>
			</div>
		</div>
    </div>	

	<div class="container-fluid">
		<div class="row-fluid" id="main_body_area">
			<div class="span12"><?php echo $this->layout()->content; ?></div>
		</div>
	</div>

	<div id="myModal" class="print-remove modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">Are you sure?</h3>
		</div>
		<div class="modal-body">
			<p>You are going to submit your answers for final evaluation and this process cannot be reversed. Click "Submit" for final submission.</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
			<button class="btn btn-primary" onclick="evaluate_exam()">Yes</button>
		</div>
	</div>
</body>
</html>