<?php if ($this->pageCount):?>
<div class="pagination">
  <ul>
<!-- First page link -->
<?php if (isset($this->previous)): ?>
  <li><a title="First page" href="<?php echo $this->url(array('page' => $this->first)); ?>">first</a></li>
<?php else: ?>
  <li class="disabled"><span>first</span></li>
<?php endif; ?>

<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <li><a title="Preview page" href="<?php echo $this->url(array('page' => $this->previous)); ?>">&laquo;</a></li>
<?php else: ?>
  <li class="disabled"><span>&laquo;</span></li>
<?php endif; ?>
 
<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
  <?php if ($page != $this->current): ?>
    <li><a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a></li>
  <?php else: ?>
    <li class="active"><span><?php echo $page; ?><span></li>
  <?php endif; ?>
<?php endforeach; ?>
 
<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <li><a title="Next page" href="<?php echo $this->url(array('page' => $this->next)); ?>">&raquo;</a></li>
<?php else: ?>
  <li class="disabled"><span>&raquo;</span></li>
<?php endif; ?>

<!-- Last page link -->
<?php if (isset($this->next)): ?>
  <li><a title="Last page" href="<?php echo $this->url(array('page' => $this->last)); ?>">last</a></li>
<?php else: ?>
  <li class="disabled"><span>last</span></li>
<?php endif; ?>
  
  <li class="disabled"><span>Total (<?php echo ($this->pageCount > 1)?$this->pageCount.' pages':$this->pageCount.' page';?>)</li>
  </ul>
</div>
<?php endif; ?>