<fieldset>
	<legend>List Administrators</legend>
	<div class="row-fluid">

		<?php echo $this->form;?>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Admin ID</th>
					<th>Username</th>
					<th>Lastest Activity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

		<?php echo $this->partial('partials/table-empty.phtml', array('data'=>$this->data,'colspan'=>4)); ?>

		<?php foreach($this->data as $row): ?>
			<tr>
				<td><?php echo $row->id;?></td>
				<td><?php echo $row->username;?></td>
				<td><?php echo $this->Date($row->loggedin_at);?></td>
				<td>
					<a href="/admin/reset-password/id/<?php echo $row->id;?>">Reset Password</a>
					|
					<a href="/admin/delete/id/<?php echo $row->id;?>">Delete</a>
				</td>
			</tr>
		<?php endforeach;?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4" class="text-right"><span>Total Records: <?php echo $this->data->getTotalItemCount(); ?></span></th>
				</tr>
			</tfoot>
		</table>

		<?php echo $this->data; ?>
	</div>
</fieldset>