<fieldset>
	<legend>List Exams</legend>
	<div class="row-fluid">

		<?php echo $this->form;?>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Exam ID</th>
					<th>Name</th>
					<th>Course</th>
					<th>Duration</th>
					<th>Start</th>
					<th>End</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

		<?php echo $this->partial('partials/table-empty.phtml', array('data'=>$this->data,'colspan'=>7)); ?>

		<?php foreach($this->data as $row): ?>
			<tr>
				<td><?php echo $row->exam_id;?></td>
				<td><?php echo $row->exam_name;?></td>
				<td><?php echo $this->Course($row->course_id);?></td>
				<td><?php echo $row->exam_duration . ' mins';?></td>
				<td><?php echo $this->Date($row->start_at);?></td>
				<td><?php echo $this->Date($row->end_at);?></td>
				<td>
					<a href="/exam/edit/id/<?php echo $row->exam_id;?>">Edit</a>
					|
					<a href="/exam/delete/id/<?php echo $row->exam_id;?>">Delete</a>
				</td>
			</tr>
		<?php endforeach;?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="7" class="text-right"><span>Total Records: <?php echo $this->data->getTotalItemCount(); ?></span></th>
				</tr>
			</tfoot>
		</table>

		<?php echo $this->data; ?>
	</div>
</fieldset>
